/* p {
  color: rgb(37, 226, 132);
}
/* #contacting {
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 30px;
  filter: contrast(100%);
  border: 6px solid rgb(37, 226, 132);
} */
#h {
  margin-left: 40px;
  margin-top: -80px;
  color: white;
} 
/* #h_ {
  margin-left: 1000px;
  margin-top: -80px;
  color: white;
}
h4 {
  margin-top: 130px;
  margin-left: 30px;
}
.cardbody {
  background-color: rgb(62, 71, 78);
}
.row {
  margin-top: 30px;
  margin-left: 30px;
}
.card {
  background-color: rgb(63, 39, 39);
}
.cardtitle {
  color: white;
  filter: contrast(100%);
  font-size: 30px;
  margin-left: 60px;
  margin-top: 10px;
}
.cardtext {
  color: white;
  filter: contrast(50%);
  margin-left: 60px;
  border: 0px rgb(62, 71, 78);
}
.foot {
  background-color: grey;
  height: 7px;
}
.footer {
  background-color: rgb(37, 226, 132);
  height: 7px;
  width: 150px;
}
.coins {
  height: 100px;
  width: 100px;
}
#photos {
  margin-left: 20px;
}
.card2a {
  background-color: grey;
  margin-left: 950px;
  margin-top: 150px;
}
.card2b {
  background-color: white;
  margin-left: 575px;
  margin-top: 50px;
}
.card2c {
  background-color: white;
  margin-left: 195px;
  margin-top: -50px;
  margin-right: 200px;
}
.cardtitle2 {
  color: black;
  filter: contrast(100%);
  font-size: 30px;
  margin-left: 60px;
  margin-top: 10px;
}
.cardtext2 {
  color: orangered;
  filter: contrast(50%);
  margin-left: 60px;
  border: 0px rgb(62, 71, 78);
}
.cardtext2n {
  color: rgb(37, 226, 132);
  filter: contrast(100%);
  margin-left: 60px;
  border: 2px rgb(62, 71, 78);
}
.cardbody2 {
  background-color: rgb(62, 71, 78);
}
.l {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: -85px;
}
.ln {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: -120px;
}
.g {
  width: 150px;
  height: 30px;
  margin-left: 1150px;
  background-color: rgb(26, 22, 22);
  color: orangered;
  filter: contrast(100%);
  border: 0px;
  border-radius: 10px;
}
.content {
  color: rgb(240, 229, 229);
}
.trend {
  padding-left: 15px;
  height: 80px;
  width: 100px;
}
.games {
  height: 250px;
  width: 180px;
  margin-top: 20px;
}

.games2 {
  height: 250px;
  width: 180px;
  margin-left: 210px;
  margin-top: -260px;
}
.games3 {
  height: 250px;
  width: 180px;
  margin-top: -310px;
  margin-left: 420px;
}
.games4 {
  height: 250px;
  width: 180px;
  margin-top: 30px;
  margin-left: 900px;
}
.games5 {
  height: 250px;
  width: 180px;
  margin-top: -280px;
  margin-left: 1100px;
}
.frnds {
  color: black;
  margin-left: 935px;
  margin-top: -300px;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
hr.solid {
  border-top: 3px solid #bbb;
}
h2 {
  margin-left: 60px;
  font-family: cursive;
  margin-top: 40px;
}
.l {
  margin-left: 60px;
}

body {
  background-color: whitesmoke;
}

#person-img {
  height: 150px;
  width: 150px;

  border-color: darkblue;

  padding-left: 220px;
  padding-top: 20px;
}

h4 {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 445px;
  padding-top: -400px;
  margin-top: -200px;
}
#job {
  font-size: 16px;
  text-transform: uppercase;
  color: blue;
  padding-left: 143px;
  padding-top: -30px;
  margin-top: -20px;
}

#info {
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: cursive;
}

.prev-btn,
.next-btn {
  color: blue;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: darkblue;
}
.prev-btn::after,
.next-btn:after {
  border-color: transparent;
}
.button-container {
  padding-left: 445px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.random-btn {
  margin-left: 450px;
  height: 20px;
  color: blue;
  text-transform: uppercase;
  margin-top: 11px;
}
#author {
  margin-top: 50px;
  margin-left: 125px;
  font-size: 30px;
  font-style: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.img-container {
  background-color: white;
  width: 400px;
  height: 600px;
  margin-left: 103px;
}
.img-container2 {
  background-color: white;
  width: 700px;
  height: 300px;
  margin-left: 600px;
  margin-top: -600px;
}

#e {
  margin-left: 30px;
}
#m {
  margin-left: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
}
.link {
  margin-top: 300px;
  margin-left: 600px;
}
#b {
  margin-left: 300px;
  background-color: #4545c9;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
} */ 

.slideshow{
  margin-bottom: 300px;
} 

.content{
  margin:auto;
  width:190px;
  margin-top: 70px;
  perspective:1000px;
  position:relative;
  padding-top:80px;
}

.content-carousel{
  width: 100%;
  position:absolute;
  float: right;
  animation: animate 15s infinite linear;
  transform-style: preserve-3d;
}
.content-carousel:hover{
  animation-play-state: paused;
  cursor:pointer;

}
.content-carousel figure{
  width:100%;
  height:120px;
  border: 1px solid #4d444d;
  overflow: hidden;
  position:absolute;
}
.content-carousel figure:nth-child(1){
  transform: rotateY(0deg);
  transform: translateZ(300px) ;
}
.content-carousel figure:nth-child(2){
  transform: rotateY(40deg)
   translateZ(300px) ;
}
.content-carousel figure:nth-child(3){
  transform: rotateY(80deg)
  translateZ(300px) ;
}
.content-carousel figure:nth-child(4){
  transform: rotateY(120deg)
   translateZ(300px) ;
}
.content-carousel figure:nth-child(5){
  transform: rotateY(160deg)
  translateZ(300px) ;
}
.content-carousel figure:nth-child(6){
  transform: rotateY(200deg)
  translateZ(300px) ;
}
.content-carousel figure:nth-child(7){
  transform: rotateY(240deg) translateZ(300px) ;
}
.content-carousel figure:nth-child(8){
  
  transform: rotateY(280deg) translateZ(300px) ;
}
.content-carousel figure:nth-child(9){
  
  transform: rotateY(320deg) translateZ(300px) ;
}
/* .content-carousel figure:nth-child(10){
  
  transform: rotateY(320deg) translateZ(300px) ;
} */

.shadow{
  position:absolute;
  box-shadow: 0 0 20px 0 #000;
  border-radius: 2px;
}

.content-carousel img{
  image-rendering: auto;
  transition: all 300ms;
  width:100%;
  height:100%;

}
.content-carousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes animate{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.but{
  height: 60px;
  width: 150px;
  background-color: rgb(194, 151, 10);
  border: 2px solid black;
  border-radius: 3px;
}
.but2{
  height: 60px;
  width: 150px;
  background-color: rgb(38, 185, 243);
  border: 2px solid black;
  border-radius: 3px;
}

.foot{
  height: 250px;
  width:100%;
  background-color: rgb(72, 0, 139);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}

/* .foot{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
} */

.co{
  /* position:absolute; */
  /* top:50%;
  left:50%; */
  /* top: 130px;
  left:30px; */
  transform: translate(-50%,-50%);
  margin-left:150px;
  margin-top: 40px;
  padding:0;
  display: flex;
}

.co li{
  list-style:none;
   
}
.co li a{

  display:block;
  position: relative;
  width:70px;
  height:90px;
 
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  margin:0 30px;
  transition: .5s;
}

.co li a span{
  position:absolute;
  transition:transform .5s;

}
i.fa{
  margin-top:32px;
}
.co ul li a span:nth-child(1),
.co li a span:nth-child(3)
{
  width: 100%;
  height:3px;
  background: #fff;
} 

.co li a span:nth-child(1){
  top:0;
  left:0%;
   transform-origin:right;
}

.co li a span:nth-child(3){
  bottom:0;
  left:0;
  transform-origin:left;

}
.co li a:hover span:nth-child(3){
  transform: scaleX(0);
  transform-origin:right;
  transition: transform .5s;
} 

.co ul li a span:nth-child(2),
.co li a span:nth-child(4){
  width: 3px;
  height: 100%;
  background: #fff;
} 
 .co li a:hover span:nth-child(2){
  transform: scale(1);
  transform-origin:top;
  transition:transform .5s;
} 

.co li a:hover span:nth-child(4){
  transform:scale(1);
  transform-origin:bottom;
  transition:transform .5s;
} 
.facebook:hover{
  color:#3b5998;
}
.facebook:hover span{
  background: #3b5998;
}

.instagram:hover{
  color:#e0752de3;
}
.instagram:hover span{
  background: #e0752de3;
}

.twitter:hover{
  color: #1da1f2;
}
.twitter:hover span{
  background: #1da1f2;
}

.info{
  margin-top: 150px;
  margin-left: -530px;
  color: white;
}